main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 83vh;
  margin: 1em 0em;
  color: black;
  background: url(../assets/banner.jpg) repeat center;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 83vh;
  padding: 1em;
  align-content: center;
  background-color: hsl(0, 0%, 100%, 90%);
}

article h1 {
  font-size: 89px;
  color: rgb(255, 64, 64);
}

article p {
  text-align: center;
  width: fit-content;
}

article img {
  margin: 1.5em;
  width: fit-content;
  max-width: 50%;
  min-width: 30%;
}

.red {
  color: red;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1028px) {
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin: 1em 0em;
    color: black;
    background: url(../assets/banner.jpg) repeat center;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80vh;
    padding: 1em;
    align-content: center;
    background-color: hsl(0, 0%, 100%, 90%);
  }

  article img {
    margin: 1.5em;
    width: 70%;
    max-width: 70%;
    min-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #root {
    margin: 0em 1em;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 0em 0em;
    color: black;
    background: url(../assets/banner.jpg) repeat center;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    padding: 0em;
    align-content: center;
    background-color: hsl(0, 0%, 100%, 90%);
  }

  article h1 {
    font-size: 56px;
  }

  article p {
    font-size: 14px;
    width: fit-content;
  }
}
